<div class="m-cont d-flex flex-wrap justify-content-center">
  <div class="card text-left border-0">
    <img class="card-img-top" src="assets/images/building.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">{{"title"| translate}}</h4>
      <p class="card-text">
        {{"text"|translate}}
      </p>
      <button type="button" class="btn btn-primary">{{"demo" | translate}}</button>
    </div>
  </div>
    <div class="card text-left border-0">
    <img class="card-img-top" src="assets/images/building.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">{{"title"| translate}}</h4>
      <p class="card-text">
        {{"text"|translate}}
      </p>
      <button type="button" class="btn btn-primary">{{"demo" | translate}}</button>
    </div>
  </div>
  <div class="card text-left border-0">
    <img class="card-img-top" src="assets/images/building.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">{{"title"| translate}}</h4>
      <p class="card-text">
        {{"text"|translate}}
      </p>
      <button type="button" class="btn btn-primary">{{"demo" | translate}}</button>
    </div>
  </div>
</div>
